/* display none é importante para a página ler e ocultar o carrinho. o resto do css foi só por exemplo, pode mexer */
#carrinho {
    display: none;
    position:fixed;
    height: 50%;
    width: 40%;
    bottom: 20px;
    right: 20px;
    background-color: rgba(48, 39, 37, 0.9);
    border: 4px solid rgb(0, 0, 0, 0.45);
    border-radius: 15px;
}
#carrinho .img-produto {
    height: 50%;
    width: 50%;
}
#carrinho th {
    color: white;
}